html {
    font-family: Roboto;
}
body {
    margin: 0;
    padding: 0;
}
.link-class {
    text-decoration: none;
}
.title-header {
    text-align: center;
    color: orange;
}

.pagination {
    align-content: center;
    text-align: center;
}
#root {
    background: linear-gradient(orange, yellow, orangered)
}
.vote-container {
   padding-bottom: auto;
}
.comments-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.card {
    width: 100%;
}