html {
    font-family: Roboto;
}
body {
    margin: 0;
    padding: 0;
}

.link-class {
    text-decoration: none;
}
.title-header {
    text-align: center;
    color: orange;
}

.pagination {
    align-content: center;
    text-align: center;
}


#root {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  }
.comments-container, {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.vote-number {
    font-size: 1rem;
    color: black;
}
.delete-button {
    text-decoration-color: red;
    font-size: 1rem;
}

.post-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.user-container {
    display: flex;
    margin-top: 40px;
    margin-left:15px;
    margin-right:15px;
    justify-content: space-between;
}