html {
    font-family: Roboto;
}
.link-class {
    text-decoration: none;
}
.title-header {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.pagination {
    align-content: center;
    text-align: center;
}
#root {
    background-color: rgb(137, 225, 252);
}
